<div class="bg-white text-gray-900 px-20 py-20">
  <div class="grid grid-cols-2 gap-6">
    <section class="rounded-2xl border p-6 bg-gray-50">
      <h2 class="text-xl font-semibold text-gray-700 mb-3">Product</h2>
      <ul class="list-disc ml-5 space-y-2 text-2xl">
        {% for x in product %}
        <li>{{x}}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="rounded-2xl border p-6 bg-white">
      <h2 class="text-xl font-semibold text-gray-700 mb-3">Price</h2>
      <ul class="list-disc ml-5 space-y-2 text-2xl">
        {% for x in price %}
        <li>{{x}}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="rounded-2xl border p-6 bg-white">
      <h2 class="text-xl font-semibold text-gray-700 mb-3">Place</h2>
      <ul class="list-disc ml-5 space-y-2 text-2xl">
        {% for x in place %}
        <li>{{x}}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="rounded-2xl border p-6 bg-gray-50">
      <h2 class="text-xl font-semibold text-gray-700 mb-3">Promotion</h2>
      <ul class="list-disc ml-5 space-y-2 text-2xl">
        {% for x in promotion %}
        <li>{{x}}</li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
